{{ define "main" }}

<dl>
  <dt class="data-label">Title</dt>
  <dd class="data-value">{{ .Title }}</dd>
</dl>

<dl>
  <dt class="data-label">Description</dt>
  <dd class="data-value">{{ .Params.description }}</dd>
</dl>

{{ partial "profilereference.html" .Params.profilespec }}


<h3>Taxonomy</h3>

<div class="meta-list">
<ul>
{{ range .Params.taxonomy }}
  <li><a href="/node/{{ . }}.html">{{ (index site.Data.nodes . ).title }}</a></li>
{{ end }}
</ul>
</div>

<h3>Standards</h3>

<div class="meta-list">

{{ range .Params.refgroup }}
<p><strong>Obligation</strong>: {{ upper .obligation }}, <strong>Lifecycle</strong>: {{ upper .lifecycle }}</p>
{{ with .description }}<p>{{ . }}</p>{{ end }}
<ul>
  {{ range .standards }}
  {{ $refid := index . "refid" }}
  {{ range where site.RegularPages ".Params.nispid" $refid }}
  {{ with .Params }}
  <li><a href="/standard/{{ $refid }}.html">{{ .document.title }} ({{ if .document.orgid }}{{(index site.Data.orgs .document.orgid).short }} {{ end }}{{ .document.pubnum }}{{ if ge (len .document.date) 4 }}:{{ slicestr .document.date 0 4 }}{{ end }})</a></li>
  {{ end }}
  {{ end }}
  {{ end }}
</ul>
{{ end }}

</div>

{{ partial "status.html" . }}

<div class="meta-block">

<dl>
  <dt class="data-label">UUID</dt>
  <dd class="data-value">{{ .Params.uuid }}</dd>
</dl>

</div>

<h3>Utilization</h3>

<div class="meta-list">

<p>This profile is used by the following profiles:</p>

<ul>
  {{ range .Params.parents }}
  <li><a href="/{{ .path }}/{{ .refid }}.html">{{ .title }}</a> - (<strong>{{ .type }}</strong>)</li>
  {{ end }}
</ul>

</div>

{{ end }}
