{{ define "main" }}

{{ partial "element-head.html" . }}

<dl>
  <dt class="data-label">Title</dt>
  <dd class="data-value">{{ .title }}</dd>
</dl>

<dl>
  <dt class="data-label">Description</dt>
  <dd class="data-value">{{ .description }}</dd>
</dl>

{{ partial "profilereference.html" . }}


<h3>Taxonomy</h3>

<div class="meta-list">
<ul>
{{ range .taxonomy }}
  <li><a href="/node/{{ . }}.html">{{ (index site.Data.nodes . ).title }}</a></li>
{{ end }}
</ul>
</div>

<h3>Standards</h3>

<div class="meta-list">

{{ range .refgroup }}
<p><strong>Obligation</strong>: {{ upper .obligation }}, <strong>Lifecycle</strong>: {{ upper .lifecycle }}</p>
<p>{{ .description }}</p>
<ul>
{{ range .standards }}
  {{ $refid := . }}
  {{ range where .Pages "Section" $refid }}
    <li><a href="/{{ .type }}/{{ $refid }}.html"></a>{{ .document.title }} ({{ if .orgid }}{{(index site.Data.orgs .orgid).short }} {{ end }}{{ .document.pubnum }}{{ if ne .date "" }}:{{ slice .document.date 0 4 }}{{ end }})</a></li>
  {{ end }}
{{ end }}
</ul>
{{ end }}

</div>

{{ partial "status.html" . }}

<div class="meta-block">

<dl>
  <dt class="data-label">UUID</dt>
  <dd class="data-value">{{ .uuid }}</dd>
</dl>

</div>

<h3>Utilization</h3>

<div class="meta-list">

<p>This profile is used by the following profiles:</p>

<ul>
  {{ range .parents }}
  <li><a href="/{{ .type }}/{{ .refid }}.html">{{ .title }}</a> - (<strong>{{ .type }}</strong>)</li>
  {{ end }}
</ul>

</div>

{{ end }}
