{{ define "main" }}

{{ partial "element-head" . }}

<h4>{{ .long }} ({{ .short }})</h4>

<p>{{ .short }} is responsible for {{ .responsible.number }} standard{{ if gt .responsible.number 1 }}s{{ end }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Org</th>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {{ range .responsible.standards }}
  {{ stdId := . }}
  {{ range where site.Pages "nispId" $stdId }}
  <tr>
    <td>{{(index site.Data.orgs .orgid).short }}</td>
    <td>{{ .document.pubnum }}</td>
    <td><a href="/standard/{{ stdId }}.html">{{ .document.title }} {{ .document.version }}</a></td>
    <td>{{ slice .document.date 0 4}}</td>
  </tr>
  {{ end }}
  {{ end }}
</table>

{{ end }}
