# Git ignore file for the nisp nation project
*~
_site
.DS_Store
node_modules
.vagrant
content/bsp
content/capabilityprofile
content/coverdoc
content/node
content/organization
content/profile
content/profilespec
content/responsibleparty
content/serviceprofile
content/standard
data/
layouts/partials/taxonomy.html
layouts/partials/graph-*.html
layouts/partials/page-*.html
public/
resources/
