# Git ignore file for the nisp nation project
*~
_site
.DS_Store
node_modules
.vagrant
content/_bsp
content/capabilityprofile
content/profile
content/serviceprofile
content/standard
content/coverdoc
content/profilespec
data
content/organization
content/responsibleparty
content/node
_includes/taxonomy.html
_includes/graph-*.html
_includes/page-*.html
