# Git ignore file for the nisp nation project
*~
_site
.sass-cache
.DS_Store
.jekyll-metadata
node_modules
assets
vendor
.bundle
.vagrant
_capabilityprofile
_profile
_serviceprofile
_standard
_data
_organisation
_includes/taxonomy.html
