{{ define "main" }}

<h3>Reference document</h3>

<dl>
  <dt class="data-label">Title</dt>
  <dd class="data-value">{{ .Title }}</dd>
</dl>

<dl>
  <dt class="data-label">Description</dt>
  <dd class="data-value">{{ markdownify (replace .Params.description "&#xA;" "\n\n" ) }}</dd>
</dl>

<dl>
  <dt class="data-label">Level</dt>
  <dd class="data-value">{{.Params.level}}</dd>
</dl>

<dl>
  <dt class="data-label">emUUID</dt>
  <dd class="data-value">{{.Params.emUUID}}</dd>
</dl>

<dl>
  <dt class="data-label">Parent</dt>
  <dd class="data-value">{{ with .Params.parent }}<a href="/node/{{ . }}.html">{{ 
      (index site.Data.nodes .).title }}</a></dd>{{ end }}
</dl>


{{/* The consumer array contains Service Profile ids for those service profiles, 
  which references the node */}}

{{ with .Params.usage }}

{{ if or (gt (int .count.mandatory) 0) (or (gt (int .count.candidate) 0)  (gt (int .count.services) 0 )) }}

<hr />

<h3>Usage</h3>

<div class="meta-list">

{{ if gt (int .count.mandatory) 0 }}

<h4>Mandatory Standards</h4>

<p>The following mandatory standards are recommended for this taxonomy node:</p>
<ul>
  {{ range .mandatory }}
  {{ $refid := . }}
  {{ range where site.RegularPages ".Params.nispid" $refid }}
  {{ with .Params }}
  <li><a href="/standard/{{ $refid }}.html">{{ .document.title }} ({{ if .document.orgid }}{{(index site.Data.orgs .document.orgid).short }} {{ end }}{{ .document.pubnum }}{{ if ge (len .document.date) 4 }}:{{ slicestr .document.date 0 4 }}{{ end }})</a></li>
  {{ end }}
  {{ end }}
  {{ end }}
</ul>

{{ end }}

{{ if gt (int .count.candidate) 0 }}

<h4>Candidate Standards</h4>

<p>The following candidate standards are recommended for this taxonomy node:</p>
<ul>
  {{ range .candidate }}
  {{ $refid := . }}
  {{ range where site.RegularPages ".Params.nispid" $refid }}
  {{ with .Params }}
  <li><a href="/standard/{{ $refid }}.html">{{ .document.title }} ({{ if .document.orgid }}{{(index site.Data.orgs .document.orgid).short }} {{ end }}{{ .document.pubnum }}{{ if ge (len .document.date) 4 }}:{{ slicestr .document.date 0 4 }}{{ end }})</a></li>
  {{ end }}
  {{ end }}
  {{ end }}
</ul>

{{ end }}




{{ if gt (int .count.serviceprofile) 0 }}
<h4>Service Profiles</h4>
<p>The following CIO serviceprofile{{ if gt (int .count.serviceprofile) 1 }}s{{ end }} references this taxonomy node. For each serviceprofile, we list the standards which will be used to implement the functionality described in the taxonomy node:</p>
<ul>
  {{ range .serviceprofiles }}
  {{ $spid := .spid  }}
  {{ $spstd := .standards}}
  {{ range where site.RegularPages "Params.nispid" $spid }}
    <li><a href="/serviceprofile/{{ $spid }}.html">{{ .Title }}</a>
      <ul>
        {{ range  $spstd }}
        {{ range where site.RegularPages "Params.nispid" . }}
        {{ with .Params }}
        <li><a href="/standard/{{ .nispid }}.html">{{ .document.title }} ({{ if .document.orgid }}{{(index site.Data.orgs .document.orgid).short }} {{ end }}{{ .document.pubnum }}{{ if ge (len .document.date) 4 }}:{{ slicestr .document.date 0 4 }}{{ end }})</a></li>
        {{ end }}
        {{ end }}
        {{ end }}
      </ul>
    </li>
  {{ end }}
  {{ end }}
</ul>
{{ end }}


</div>

{{ end }}

{{ end }}





  

{{ end }}
