
<div class="statistics">
  <div class="stat-element">
    <a href="/standard/">
    <p class="number">{{site.data.stat['standards']}}</p>
    <p class="label">Standards</p>
    </a>
  </div>
  <div class="stat-element">
    <a href="/capabilityprofile/">
    <p class="number">{{site.data.stat['capabilityprofiles']}}</p>
    <p class="label">Capability Profiles</p>
    </a>
  </div>
  <div class="stat-element">
    <a href="/profile/">
    <p class="number">{{site.data.stat['profiles']}}</p>
    <p class="label">Profiles</p>
    </a>
  </div>
  <div class="stat-element">
    <a href="/serviceprofile/">
    <p class="number">{{site.data.stat['serviceprofiles']}}</p>
    <p class="label">Service Profiles</p>
    </a>
  </div>
  <div class="stat-element">
    <a href="/organization/">
    <p class="number">{{site.data.stat['organizations']}}</p>
    <p class="label">Organizations</p>
    </a>
  </div>
  <div class="stat-element">
    <a href="/responsibleparty/">
    <p class="number">{{site.data.stat['responsibleparties']}}</p>
    <p class="label">Responsible Parties</p>
    </a>
  </div>
  <div class="stat-element">
    <a href="/node/">
    <p class="number">{{site.data.stat['nodes']}}</p>
    <p class="label">Taxonomy Nodes</p>
    </a>
  </div>
</div>
