{{ define "main" }}

{{ partial "element-head.html" . }}

<table>
<tr>
  <th>Organization</th>
  <th>Pub number</th>
  <th>Title of Profile Specification</th>
</tr>
{{ range where site.Pages "Section" "profilespec" }}
  <tr>
    {{ with .Params }}
    <td><a href="/organization/{{ .orgid }}.html">{{ (index site.Data.orgs (string .orgid)).short }}</a></td>
    <td>{{ .pubnum }}</td>
    <td><a href="/profilespec/{{ .nispid }}.html">{{ .title }}</a></td>
    {{ end }}
  </tr>
{{ end }}
</table>

{{ end }}
