<div class="element-head">    <div class="main-content element-content">
  {{ content }}
  <div class="footer">
    <div>Last updated on {{ site.time | date_to_rfc822 }}</div>
    <div>This page is work in progress</div>
<div class="main-content element-content">
  {{ content }}
  <div class="footer">
    <div>Last updated on {{ site.time | date_to_rfc822 }}</div>
    <div>This page is work in progress</div>
  </div>
</div>
</body>
</html>

  <p class="type"><a href="/"><img class="home-icon" src="/assets/images/home.svg" /></a> NISP {{ .Page.element }}</p>
  {{ if .Page.nisp-id }
      <p class="id"><strong>ID:</strong> {{ .Page.nisp-id }}</p>
  {{ end }}
</div>
