{{ define "main" }}

{{ with .Params }}

<h4>{{ .long }} ({{ .short }})</h4>

{{ if ne .uri "" }}
<p>URL: <a href="{{ .uri }}">{{ .uri }}</a><p>
{{ end }}

{{ if ge .stuff.standards.owns  0 }}
{{ $plural := cond (gt .stuff.standards.owns  1) "s" "" }}
<p>{{ .short }} own{{ $plural }} {{ .stuff.standards.owns }} standard{{ $plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {{ range .stuff.standards.references }}
    {{ $stdId := . }}
    {{ range where site.Pages "nispId" $stdId }}
    <tr>
      <td>{{.document.pubnum}}</td>
      <td><a href="/standard/{{ $stdId }}.html">{{ .document.title }}</a></td>
      <td>{{ if ge (len .document.date) 4 }}{{ slicestr .document.date 0 4 }}{{ end }}</td>
    </tr>
    {{ end }}
  {{ end }}
</table>

{{ end }}


{{ if gt .stuff.capabilityprofiles.owns 0 }}
{{ $plural := cond (gt .stuff.standards.owns  1) "s" "" }}
<p>{{ .short }} own{{ $plural }} {{ .stuff.capabilityprofiles.owns }} capabilityprofile{{ $plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {{ range .stuff.capabilityprofiles.references }}
    {{ $cpId := . }}
    {{ range where .Pages "nispId" $cpId }}
    <tr>
      <td>{{ .profilespec.pubnum }}</td>
      <td><a href="/capabilityprofile/{{ $cpId }}.html">{{ .title }}</a></td>
      <td>{{ if ge (len .document.date) 4 }}{{ slicestr .profilespec.date 0 4 }}{{ end }}</td>
    </tr>
    {{ end }}
  {{ end }}
</table>
{{ end }}

{{ if gt .stuff.profiles.owns  0 }}
{{ $plural := cond (gt .stuff.standards.owns  1) "s" "" }}
<p>{{ .short }} own{{ $plural }} {{ .stuff.profiles.owns }} profile{{ $plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {{ range .stuff.profiles.references }}
    {{ $pId := . }}
    {{ range where .Pages "nispId" $pId }}
    <tr>
      <td>{{ .profilespec.pubnum }}</td>
      <td><a href="/profile/{{ $pId }}.html">{{ .title }}</a></td>
      <td>{{ if ge (len .document.date) 4 }}{{ slicestr .profilespec.date 0 4 }}{{ end }}</td>
    </tr>
    {{ end }}
  {{ end }}
</table>
{{ end }}

{{ if gt .stuff.serviceprofiles.owns  0 }}
{{ $plural := cond (gt .stuff.standards.owns  1) "s" "" }}
<p>{{ .short }} own{{ $plural }} {{ .stuff.serviceprofiles.owns }} serviceprofile{{ $plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {{ range .stuff.serviceprofiles.references }}
    {{ $spId := . }}
    {{ range where .site.Pages .nispId $spId }}
    <tr>
      <td>{{.profilespec.pubnum}}</td>
      <td><a href="/serviceprofile/{{ $spId }}.html">{{ .title }}</a></td>
      <td>{{ if ge (len .document.date) 4 }}{{ slicestr .profilespec.date 0 4 }}{{ end }}</td>
    </tr>
    {{ end }}
  {{ end }}
</table>
{{ end }}

{{ end }} {{/* with .Params */}}

{{ end }}
