---
layout: element
element: Organization
---

<h4>{{ page.long }} ({{page.short}})</h4>

{% if page.uri != '' %}
<p>URL: <a href="{{ page.uri }}">{{ page.uri }}</a><p>
{% endif %}

{% if page.stuff.standards.owns > 0 %}
{%  capture plural %}{% if page.stuff.standards.owns > 1 %}s{% endif %}{% endcapture %}

<p>{{page.short}} own{{ plural }} {{ page.stuff.standards.owns }} standard{{ plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {% for std in page.stuff.standards.references %}
  {% assign s = site.standard | where:"nisp-id", std | first %}
  <tr>
    <td>{{s.document.pubnum}}</td>
    <td><a href="/standard/{{ std }}.html">{{s.document.title}}</a></td>
    <td>{{s.document.date | slice: 0,4}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}



{% if page.stuff.capabilityprofiles.owns > 0 %}
{%  capture plural %}{% if page.stuff.capabilityprofiles.owns > 1 %}s{% endif %}{% endcapture %}
<p>{{page.short}} own{{ plural }} {{ page.stuff.capabilityprofiles.owns }} capabilityprofile{{ plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {% for std in page.stuff.capabilityprofiles.references %}
  {% assign s = site.capabilityprofile | where:"nisp-id", std | first %}
  <tr>
    <td>{{s.profilespec.pubnum}}</td>
    <td><a href="/capabilityprofile/{{ std }}.html">{{s.title}}</a></td>
    <td>{{s.profilespec.date | slice: 0,4}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if page.stuff.profiles.owns > 0 %}
{%  capture plural %}{% if page.stuff.profiles.owns > 1 %}s{% endif %}{% endcapture %}
<p>{{page.short}} own{{ plural }} {{ page.stuff.profiles.owns }} profile{{ plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {% for std in page.stuff.profiles.references %}
  {% assign s = site.profile | where:"nisp-id", std | first %}
  <tr>
    <td>{{s.profilespec.pubnum}}</td>
    <td><a href="/profile/{{ std }}.html">{{s.title}}</a></td>
    <td>{{s.profilespec.date | slice: 0,4}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if page.stuff.serviceprofiles.owns > 0 %}
{%  capture plural %}{% if page.stuff.serviceprofiles.owns > 1 %}s{% endif %}{% endcapture %}
<p>{{page.short}} own{{ plural }} {{ page.stuff.serviceprofiles.owns }} serviceprofile{{ plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {% for std in page.stuff.serviceprofiles.references %}
  {% assign s = site.serviceprofile | where:"nisp-id", std | first %}
  <tr>
    <td>{{s.profilespec.pubnum}}</td>
    <td><a href="/serviceprofile/{{ std }}.html">{{s.title}}</a></td>
    <td>{{s.profilespec.date | slice: 0,4}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
