{{ define "main" }}

{{ partial "element-head.html" . }}

<h4>{{ .long }} ({{ .short }})</h4>

{{ if ne .uri "" }}
<p>URL: <a href="{{ .uri }}">{{ .uri }}</a><p>
{{ end }}

{{ if ge .stuff.standards.owns  0 }}
{{ $plural := cond (gt .stuff.standards.owns  1) "s" "" }}
<p>{{ .short }} own{{ $plural }} {{ .stuff.standards.owns }} standard{{ $plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {{ range .stuff.standards.references }}
    {{ $stdId := . }}
    {{ range where site.Pages "nispId" $stdId }}
    <tr>
      <td>{{.document.pubnum}}</td>
      <td><a href="/standard/{{ $stdId }}.html">{{ .document.title }}</a></td>
      <td>{{ slice .document.date 0 4 }}</td>
    </tr>
    {{ end }}
  {{ end }}
</table>

{{ end }}


{{ if gt .stuff.capabilityprofiles.owns 0 }}
{{ $plural := cond (gt .stuff.standards.owns  1) "s" "" }}
<p>{{ .short }} own{{ $plural }} {{ .stuff.capabilityprofiles.owns }} capabilityprofile{{ $plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {% for std in page.stuff.capabilityprofiles.references %}
  {% assign s = site.capabilityprofile | where:"nisp-id", std | first %}
  <tr>
    <td>{{ .profilespec.pubnum }}</td>
    <td><a href="/capabilityprofile/{{ std }}.html">{{s.title}}</a></td>
    <td>{{ slice .profilespec.date 0 4 }}</td>
  </tr>
  {% endfor %}
</table>
{{ end }}

{{ if gt page.stuff.profiles.owns  0 }}
{{ $plural := cond (gt .stuff.standards.owns  1) "s" "" }}
<p>{{ .short }} own{{ $plural }} {{ .stuff.profiles.owns }} profile{{ $plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {% for std in page.stuff.profiles.references %}
  {% assign s = site.profile | where:"nisp-id", std | first %}
  <tr>
    <td>{{s.profilespec.pubnum}}</td>
    <td><a href="/profile/{{ std }}.html">{{s.title}}</a></td>
    <td>{{s.profilespec.date | slice: 0,4}}</td>
  </tr>
  {% endfor %}
</table>
{{ end }}

{{ if gt .stuff.serviceprofiles.owns  0 }}
{{ $plural := cond (gt .stuff.standards.owns  1) "s" "" }}
<p>{{ .short }} own{{ $plural }} {{ .stuff.serviceprofiles.owns }} serviceprofile{{ $plural }}, which are:</p>

<table>
  <thead>
    <tr>
      <th>Pubnum</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  {{ range .stuff.serviceprofiles.references }}
  {{ $stdId := . }}
  {{ range (where .site.Pages .nispId $stdId) }}
  <tr>
    <td>{{.profilespec.pubnum}}</td>
    <td><a href="/serviceprofile/{{ $stdId }}.html">{{ .title }}</a></td>
    <td>{{ slice .profilespec.date 0 4 }}</td>
  </tr>
  {{ end }}
  {{ end }}
</table>
{{ end }}


{{ end }}
