---
layout: element
element: Basic Standards Service Profile
---

<dl>
  <dt class="data-label">Taxonomy Node</dt>
  <dd class="data-value"><a href="/node/{{ page.taxonomy }}.html">{{page.node-title}}</a></dd>
</dl>

<h3>Obligation Groups</h3>

{% for g in page.bpgroup %}

<dl>
    <dt class="data-label">{{ g.obligation | capitalize }} Standards</dt>
    <dd class="data-value">
        <ul>
         {% for gs in g.standards %}
         {% assign std = site.standard | where:"nisp-id", gs.refid | first %}
         <li><a href="/standard/{{ gs.refid }}.html">{{ std.document.title }}</a>, {{ site.data.orgs[std.document.org].short }} {{ std.document.pubnum }}</li>
         {% endfor %}
        </ul>
    </dd>
</dl>
{% endfor %}
