{{ define "main" }}

{{ partial "element-head.html" . }}

<p>
<ul class="legendbox">
  <li class="std-complete">Complete</li>
  <li class="std-incomplete">Incomplete</li>
</ul>
</p>

<div class="collection-wrap">




{{ $allorgs := where .Site.Pages "Section" "standard" }}



{{ range uniq (sort $allorgs ".Params.document.orgid") }}

{{/*
  <div class="collection-group">
*/}}

{{ with .Params.document.org }}
<h4><a href="/organization/{{ . }}.html">{{ (index site.Data.orgs (string .)).short }}</a></h4>
{{ end }}

{{/*
<ul class="stdgroup">
{{ range $stdindex, $std := .items }}
<li class="collection-item std-{{ if .complete }}complete{{ else }}incomplete{{ end }}"><a href="/standard/{{ .nispid }}.html" title="{{ .document.title }}">{{   if ne .document.pubnum "" }}{{ .document.pubnum }}{{ else }}{{ .nispId }}{{ end }}</a></li>

{{ if eq (mod $stdindex 10) 0 }}
</ul>
</div>
<div  class="collection-group">
<ul>
{{ end }}

{{ end }}
</ul>
</div>

*/}}
{{ end }}

</div>


{{ end }}
