{{ define "main" }}

{{ with .Params }}

<div class="meta-block">

<h3>Reference document</h3>

<div class="meta-element-set">

<dl class="ref-org">
  <dt class="data-label">Org</dt>
  <dd class="data-value">{{ (index site.Data.orgs .document.org).short }}</dd>
</dl>

<dl class="ref-pubnum">
  <dt class="data-label">Pubnum</dt>
  <dd class="data-value">{{ .document.pubnum }}</dd>
</dl>

<dl class="ref-date">
  <dt class="data-label">Date</dt>
  <dd class="data-value">{{ .document.date }}</dd>
</dl>

<dl class="ref-version">
  <dt class="data-label">Version</dt>
  <dd class="data-value">{{ .document.version }}</dd>
</dl>

</div>

<dl>
  <dt class="data-label">Title</dt>
  <dd class="data-value">{{ .document.title }}</dd>
</dl>

</div>

<h3>Applicability</h3>

<dl>
  <dt class="data-label"></dt>
  <dd class="data-value">{{ .applicability | markdownify }}</dd>
</dl>

{{ end }}

{{ partial "responsibleparty.html" . }}


{{ partial "status.html" .  }}

<dl>
  <dt class="data-label">UUID</dt>
  <dd class="data-value">{{ .Params.uuid }}</dd>
</dl>

{{/* Both coverdocument and consumers is assigned to a an array of strings.
     If there is no strings array, then the XSLT stylesheet might generate
     nothing instead of an array, which means the value of the variable is nil.
     If we use an if statement, the program fails, which is why we use the "with"
     statement here 
  */}}

{{ $sizecoverdocument := 0 }} {{ $sizeconsumers := 0 }}
{{ with .Params.coverdocument }}{{ $sizecoverdocument =  (len .) }}{{ end }}
{{ with .Params.consumers }}{{ $sizeconsumers =  (len .) }}{{ end }}


{{ if or (gt $sizecoverdocument 0) (gt $sizeconsumers 0) }}

<h3>Relationships</h3>

<div class="meta-list">
  {{ if gt $sizecoverdocument 0 }}
  <p>This standard is covered by:</p>
  <ul>
    {{ $stdid := index .Params.coverdocument 0 }}
    {{ range where site.RegularPages "Params.nispid" $stdid }}
       {{ with .Params}}
       <li><a href="/coverdoc/{{ .nispid }}.html">{{ .document.pubnum }}</a></li>
       {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ if gt $sizeconsumers 0 }}
<p>This standard is used by the following service profiles:</p>
<ul>
  {{ range .Params.consumers }}
    {{ range where site.RegularPages "Params.nispid" . }}
      <li><a href="/serviceprofile/{{ .Params.nispid }}.html">{{ .Title }}</a></li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}

</div>

{{ end }}


{{ end }}
