---
layout: element
---



<div>

<p>Capabilityprofile</p>


<h4>{{page.title}}</h4>

<p>ID: {{page.nisp-id}}</p>

</div>


<div class="reference">

<b>Reference document</b>

<div class="ref-meta">

<dl class="ref-org">
  <dt>Org</dt>
  <dd>{{site.data.orgs[page.profilespec.org].short}}</dd>
</dl>

<dl class="ref-pubnum">
  <dt>Pubnum</dt>
  <dd>{{page.profilespec.pubnum}}</dd>
</dl>


<dl class="ref-date">
  <dt>Date</dt>
  <dd>{{page.profilespec.date}}</dd>
</dl>

<dl class="ref-version">
  <dt>Version</dt>
  <dd>{{page.profilespec.version}}</dd>
</dl>

</div>

<dl class="ref-title">
  <dt>Title</dt>
  <dd>{{page.profilespec.title}}</dd>
</dl>

</div>


<h4>Subprofiles</h4>

<p>This Capability profiles links to the following subprofiles</p>
<ul>
  {% for ref in page.subprofiles %}
  <li>{{ref.refid}}</li>
  {% endfor %}
</ul>

{%include status.html %}

<p>UUID: {{page.uuid}}</p>
