---
layout: element
---

<div class="meta-block">

<h3>Reference document</h3>

<div class="meta-element-set">

<dl class="ref-org">
  <dt class="data-label">Org</dt>
  <dd class="data-value">{{ site.data.orgs[page.document.org].short }}</dd>
</dl>

<dl class="ref-pubnum">
  <dt class="data-label">Pubnum</dt>
  <dd class="data-value">{{ page.document.pubnum }}</dd>
</dl>

<dl class="ref-date">
  <dt class="data-label">Date</dt>
  <dd class="data-value">{{ page.document.date }}</dd>
</dl>

<dl class="ref-version">
  <dt class="data-label">Version</dt>
  <dd class="data-value">{{ page.document.version }}</dd>
</dl>

</div>

<dl>
  <dt class="data-label">Title</dt>
  <dd class="data-value">{{ page.document.title }}</dd>
</dl>

</div>

<h3>Covered Standards</h3>

<div class="meta-list">

  <ul>
    {% for cs in page.coverstandards %}
    <li>
      {% assign s = site.standard | where:"nisp-id", cs.refid | first %}
      <a href="/standard/{{cs.refid}}.html">{{s.document.title}} ({% if s.orgid %}{{site.data.orgs[s.orgid].short}} {% endif%}{{s.document.pubnum}}{%if s.date != '' %}:{{s.document.date | slice: 0,4}}{% endif%})</a></li>
    </li>
    {% endfor %}
  </ul>
</div>

{%include responsibleparty.html %}


{%include status.html %}

<dl>
  <dt class="data-label">UUID</dt>
  <dd class="data-value">{{page.uuid}}</dd>
</dl>
