---
layout: element
---

<dl>
  <dt class="data-label">Title</dt>
  <dd class="data-value">{{page.title}}</dd>
</dl>

<dl>
  <dt class="data-label">Description</dt>
  <dd class="data-value">{{page.description}}</dd>
</dl>

{%include profilereference.html %}


<h3>Taxonomy</h3>

<ul>
{% for t in page.taxonomy %}
<li>{{ site.data.nodes[t].title }}</li>
{% endfor %}
</ul>

<h3>Standards</h3>

{% for ob in page.obgroup %}
<p><strong>{{ ob.obligation | capitalize }} Standards</strong></p>
<ul>
{% for std in ob.standards %}
  <li><a href="/standard/{{std.refid}}.html">{{std.refid}}</a></li>
{% endfor %}
</ul>
{% endfor %}

{%include status.html %}

<div class="meta-block">

<dl>
  <dt class="data-label">UUID</dt>
  <dd class="data-value">{{page.uuid}}</dd>
</dl>

</div>
