---
layout: default
---

<h4>{{page.title}}</h4>

<p>Type: Serviceprofile</p>

<p>ID: {{page.nisp-id}}</p>

<p>Descriprion : {{ page.description }}</p>


<div class="reference">

<b>Reference document</b>

<dl>
  <dt>Org</dt>
  <dd>{{site.data.orgs[page.profilespec.org].short}}</dd>
</dl>

<dl>
  <dt>Pubnum</dt>
  <dd>{{page.profilespec.pubnum}}</dd>
</dl>


<dl>
  <dt>Date</dt>
  <dd>{{page.profilespec.date}}</dd>
</dl>

<dl>
  <dt>Version</dt>
  <dd>{{page.profilespec.version}}</dd>
</dl>

<dl>
  <dt>Title</dt>
  <dd>{{page.profilespec.title}}</dd>
</dl>

</div>



<h4>Taxonomy</h4>

<ul>
{% for t in page.taxonomy %}
<li>{{ site.data.nodes[t].title }}</li>
{% endfor %}
</ul>




{%include status.html %}

<p>UUID: {{page.uuid}}</p>
