---
layout: element
---

<div class="meta-block">

<h3>Reference document</h3>

<div class="meta-element-set">

<dl class="ref-org">
  <dt class="data-label">Org</dt>
  <dd class="data-value">{{ site.data.orgs[page.document.org].short }}</dd>
</dl>

<dl class="ref-pubnum">
  <dt class="data-label">Pubnum</dt>
  <dd class="data-value">{{ page.document.pubnum }}</dd>
</dl>

<dl class="ref-date">
  <dt class="data-label">Date</dt>
  <dd class="data-value">{{ page.document.date }}</dd>
</dl>

<dl class="ref-version">
  <dt class="data-label">Version</dt>
  <dd class="data-value">{{ page.document.version }}</dd>
</dl>

</div>

<dl>
  <dt class="data-label">Title</dt>
  <dd class="data-value">{{ page.document.title }}</dd>
</dl>

</div>

{%include responsibleparty.html %}


{%include status.html %}

<dl>
  <dt class="data-label">UUID</dt>
  <dd class="data-value">{{page.uuid}}</dd>
</dl>

<h3>Relationships</h3>

<p>Profiles which uses this standard.</p>
<ul>
{% for sp in page.consumers %}
{% assign sp-rec = site.serviceprofile | where:"nisp-id", sp | first %}
<li><a href="/serviceprofile/{{ sp }}.html">{{sp-rec.title}}</a></li>
{% endfor %}
</ul>
